<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

  <div id="app">{{{content}}}</div>
  <script type="text/javascript">
    window.store = {{{json store}}}
  </script>
  <script src="{{{bundlePath}}}" defer></script>
</body>
</html>
